@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat;
}

body {
  overscroll-behavior: none;
  @apply p-0 m-0 bg-alt;
}
.btn-transparent {
  @apply bg-transparent text-white border border-solid border-[#fefefe] hover:bg-[#fefefe] transition-all hover:text-textColor;
}
.btn-normal {
  @apply bg-[#fefefe] text-textColor border border-solid border-[#fefefe];
}
.btn-primary {
  @apply bg-primary text-textColor border border-solid border-primary;
}
.btn-success {
  @apply bg-success text-textColor border border-solid border-success;
}
.btn-secondary {
  @apply bg-secondary text-textColor border border-solid border-secondary;
}
.btn-cart {
  @apply bg-success text-textColor border border-success hover:shadow-[2px_5px_27px_-8px_rgba(0,0,0,0.3)] transition-all;
}

.btn-default {
  @apply bg-gray-600 text-white border border-transparent;
}
.btn-normal,
.btn-default,
.btn-success,
.btn-primary,
.btn-secondary,
.btn-cart,
.btn-transparent,
.btn-secondary {
  @apply p-2 px-4 rounded-md hover:shadow-[2px_5px_27px_-8px_rgba(0,0,0,0.3)];
}

table.basic {
  @apply w-full;
}
table.basic th {
  @apply text-left uppercase text-[#aaa] text-[.7rem] font-[600];
}
table.basic tr td {
  @apply py-4 border-t border-solid border-[rgba(0,0,0,0.1)] sm:text-xs;
}

input {
  @apply w-full p-2 mb-2 border border-solid border-[#ccc] box-border rounded-md sm:text-sm;
}

input:focus {
  @apply border border-[#222];
}

h2.title {
  @apply text-4xl mb-8 font-[600] md:text-center md:text-2xl;
}

h2.subtitle {
  @apply text-[18px] text-[#222] tracking-wider uppercase mb-4 font-[700];
}

select.basic {
  @apply rounded-sm bg-transparent border-none focus:outline-none;
}
